:root{
    --color-light: #e4fde1;
    --color-medium: #8acb88;
    --color-dark: #2a5e2a;
    --small-font: .5rem;
    --medium-font: 1rem;
    --large-font: 2rem;
}

h1{font-size: 200%;}
h2{font-size: 150%;}
h3{font-size: 100%;}
h4{font-size: 75%;}
/*using */
.color-light{
    background-color: var(--color-light);
    color: #000;
}
.color-medium{
    background-color: var(--color-medium);
    color: #000;
}
.color-dark{
    background-color: var(--color-dark);
    color: #fff;
}
.small-font{font-size: var(--small-font);}
.medium-font{font-size: var(--medium-font);}
.large-font{font-size: var(--large-font);}

header {
    display: grid;
    height: 200px;
    grid-template-columns: auto auto auto;
    
    justify-content: space-around;
    align-content: space-around;
}

#name{
    white-space: nowrap;
    padding: 1rem .5rem .5rem .5rem;
    color: var(--color-light);
    background: linear-gradient(var(--color-dark),var(--color-medium));
    border-radius: 1rem;
    text-shadow: 2px 2px black;
}

nav{
    grid-column: 3;
}

.nav-link{
    padding: .5rem;
    text-align: right;
}

.nav-link a{
    color: var(--color-light);
    font-weight: 600;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

main {
    overflow: hidden;
}

main > section{ 
    padding: 2rem 0 ;
    display: grid;
    grid-template-columns: 250px auto;
}

.section-name{
    padding: 0 1rem;
    font-size: var(--large-font);
    border: 2px solid var(--color-dark);
    border-style: none solid none none;
    text-align: right;
}
.section-content{
    padding: 0 1rem;
    font-size: var(--medium-font);
    line-height: 2rem;
}



.project-card {
    padding: 1rem;
    margin:  1rem;
    text-align: center;
    border: 3px solid var(--color-dark);
    border-radius: 10px;
    box-shadow: inset .5em .5em  1em var(--color-light), .5em .5em 1em var(--color-dark);
}

.project-card .project-name{
    margin: 2rem 0;
    text-wrap: nowrap;
    transition: all 1s;
}
.project-card:focus-within .project-details{
    padding: 1rem;
    max-height:600px;
}
.project-details{
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: inset 0 0 1rem 1rem var(--color-medium);
    transition: all 1s;
    overflow: hidden;
    max-height: 0;
}
.project-details div{
    padding: 1rem;
    text-align: center;
}
.project-details p{
    padding: 0 0 1rem 0;
    text-align: center;
}
.project-image {
    max-width: 50%;
    max-height: 200px;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}

#contact .section-content{
    font-style: italic;
}

footer {
    padding: 3rem 0;
    text-align: center;
}

@media (max-width:800px) {
    header {
        height: 200px;
        grid-template-columns: 90%;
        grid-template-rows: auto auto;
        align-content: space-around;
        justify-content: space-around;
    }

    #name{
        text-align: center;
    }
    nav{
        grid-column: auto;
    }
    nav ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        list-style-type: none;
        align-content:space-evenly;
    }
    .nav-link{
        text-align: center;
    }
    .section-name {
        border-style: none  none solid none;
        text-align: center;
    }
    main > section{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .section-name {
        margin: 1rem;
        padding: 1rem;
    }
}