:root{
    --color-light: #e4fde1;
    --color-medium: #8acb88;
    --color-dark: #2a5e2a;
    --small-font: .5rem;
    --medium-font: 1rem;
    --large-font: 2rem;
}

h1{font-size: 200%;}
h2{font-size: 150%;}
h3{font-size: 100%;}
h4{font-size: 75%;}
/*using */
.color-light{
    background-color: var(--color-light);
    color: #000;
}
.color-medium{
    background-color: var(--color-medium);
    color: #000;
}
.color-dark{
    background-color: var(--color-dark);
    color: #fff;
}

main {
    overflow: hidden;
}

main > section{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 300px auto;
}

.section-name{
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: var(--large-font);
    border: 3px solid var(--color-dark);
    border-style: none solid none none;
    text-align: right;
}
.section-content{
    margin: 1rem;
    font-size: var(--medium-font);
    line-height: 2rem;
}
#name{
    padding: 1.5rem 1rem 0 1rem;
    background: linear-gradient(var(--color-dark),var(--color-medium));
    border-radius: 1rem;
    text-shadow: 2px 2px black;
}
#contact .section-content{
    font-style: italic;
}
main{
    padding: 5rem 0rem;
}

.project-card {
    padding: 1rem;
    margin:  1rem;
    text-align: center;
    border: 3px solid var(--color-dark);
    border-radius: 10px;
    box-shadow: inset .5em .5em  1em var(--color-light), .5em .5em 1em var(--color-dark);
}

.project-card .project-name{
    margin: 2rem 0;
    text-wrap: nowrap;
    transition: all 1s;
}

.project-card:focus-within .project-details{
    padding: 1rem;
    max-height:600px;
}
.project-details{
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: inset 0 0 1rem 1rem var(--color-medium);
    transition: all 1s;
    overflow: hidden;
    max-height: 0;
}

.project-details div{
    padding: 1rem;
    text-align: center;
}
.project-details p{
    padding: 0 0 1rem 0;
    text-align: center;
}

.project-image {
    max-width: 50%;
    max-height: 200px;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}
header {
    padding: 2rem;
}
header *{
    display: inline;    
}
nav {
    float: right;
}
.nav-links{
    padding: .5rem;
    border: 3px solid black;
}

footer {
    text-align: center;
    padding: 3rem;
}

@media (max-width:800px) {
    .section-name {
        border-style: none  none solid none;
        text-align: center;
    }
    main > section{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .section-name {
        margin: 1rem;
        padding: 1rem;
    }
}